In [1]:
import pandas as pd
import numpy as np
from PIL import Image
import pytesseract
import argparse
import cv2
import os
import sys

In [3]:
text=pd.read_csv("text.txt"," ")

In [4]:
text

Empty DataFrame
Columns: [Modi, ||||||||||||, G, |, Photo., Photo, ., |.1, Are, there., Photo.1, 13, 007, -, Sadhora, (AJ), Electoral, Rolls, of, Legislative, Assembly, constituency,, 2018, Part, Number:, 196, Section:, 1-Village, Bhagwanpur,, Fold, Jagadhri,, District, Yamuna, Nagar-13102., 1, |.2, HR, /, 01/06/0357001, |.3, 2, |.4, HR.1, /.1, 01/06/0357002, 3, |.5, HR.2, /.2, 01/06/0357003, Name:, Bano, Devi, Name:.1, Desraj, Nam:, Jagindra, Devi.1, Photo.2, Mateo, Husband:, Bruce, Red, Father:, Bruce.1, Lan, |.6, Husband:.1, CountryRaj, Party, House, No., :, 1.1, |.7, House.1, no.-1, house, no., :.1, 1.2, Available, ages:, 77, Gender:, Female., Age:, 68, Sex:, Male., |.8, Age:.1, 63, Gender:.1, Women, |.9, is., 4, |.10, HR.3, ...]
Index: []

[0 rows x 710 columns]

In [5]:
text.columns

Index(['Modi', '||||||||||||', 'G', '|', 'Photo.', 'Photo', '.', '|.1', 'Are',
       'there.',
       ...
       '3.7', 'of.1', '29.2', 'pages', 'released', 'by', 'the.2',
       'Electoral.1', 'Registration', 'Officer'],
      dtype='object', length=710)

In [6]:
array=np.array(text.columns)

In [15]:
# for word in array:
#     print(word)

In [8]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [9]:
from nltk.corpus import stopwords

In [10]:
stops = set(stopwords.words('english'))

In [11]:
stops.add('.')

In [12]:
stops.add('_')

In [13]:
clean_words=[w for w in array if not w in stops]

In [18]:
count=0
for w in clean_words:
    if(count<30):
        print(w)                   # Showing 30 word as sample 
        count=count+1

Modi
||||||||||||
G
|
Photo.
Photo
|.1
Are
there.
Photo.1
13
007
-
Sadhora
(AJ)
Electoral
Rolls
Legislative
Assembly
constituency,
2018
Part
Number:
196
Section:
1-Village
Bhagwanpur,
Fold
Jagadhri,
District